ner {
    margin-left: 300px;
    padding: 20px;
    width: 1050px;
    height: 650px;
    font-size: 16px;
    background-image: linear-gradient(#fff, #d3d3d3);
    text-align: center;
}

#calendar-container>div {
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year {
    font-family: "Comic Sans MS";
    font-size: 20px;
    margin: 10px;
}

a {
    font-family: "Comic Sans MS";
    font-size: 25px;
    margin: 10px;
}

th {
    font-family: Arial;
    border: 1px solid black;
}

th:nth-of-type(1) {
    color: red;
}

.curMonthDay {
    font-size: 20px;
    font-style: italic;
}

td.curMonthDay:nth-of-type(1) {
    color: red;
}

td.curMonthDay:hover {
    color: lightblue
}

td {
    font-family: Arial;
    padding: 5px;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
    width: 145px;
    height: 90px;
}

.nextMonthDay {
    color: grey;
}

.last_month {
    color: grey;
}

#today {
    font-size: 20px;
    font-style: italic;
    color: white;
    background-color: #C0C0C0;
}

#today:hover {
    color: lightblue
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 50%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}